.startlearningbutton{
    background-color: yellow;
    border-color: yellow;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-size: larger;
}

.startlearninga{
    text-decoration: none;
}

.center{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}