<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSMA/CD</title>
  <!-- <link rel="stylesheet" href="./styles.css"> -->
</head>
<body>
  <nav class="navbar">
    <div>
      <a class="navlink" href="">CSMA/CD</a>
      <a class="navlink" href="">Interference</a>
      <a class="navlink" href="">Backoff</a>
      <a class="navlink" href="">CSMA/CD</a>
    </div>
    <div>
      <button class="explanation">Explanation</button>
    </div>
  </nav>


  <div class="alll">

  <div class="transmitwire">

    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    <button class="transmit"></button>
    </div>

  <div class="all">
  <div class="nodeandsend">
    <div class="connecting">|</div>
    <button class="node">Node 1</button>
    <button class="sendbutton">Send Data</button>
  </div>
  <div class="nodeandsend"> 
    <div class="connecting">|</div>
     <button class="node">Node 2</button>
     <button class="sendbutton">Send Data</button>
  </div>
  </div>

  </div>
</body>

</html>

